
.top-inner-shadow {box-shadow: inset 0 7px 7px -5px #ccc;}
.topshadow{box-shadow:  0 7px 7px -5px #ccc;}
.cv-heading{background: url(../img/doted_line.png) repeat-x center;margin-top: 40px;}
.cv-heading span{background: #fff;padding-right: 10px; text-transform: uppercase;}

/* top menu */

.cv-top-nav{background: #efefef;border-bottom: solid 1px #d3d3d3;}
.cv-top-nav .cv-social-icons {}
.cv-top-nav .cv-social-icons li { border-left: solid 1px #d3d3d3; }
.cv-top-nav .cv-social-icons li:nth-child(4){ border-right: solid 1px #d3d3d3; } 
.cv-top-nav .cv-social-icons li > a {background: none; }
.cv-top-nav .cv-social-icons li > a > i {color:#bbbbc6;}
.cv-top-nav .cv-social-icons li > a:hover > i {color:#606067;}

.cv-top-nav .cv-top-menu{}
.cv-top-nav .cv-top-menu li { border-left: solid 1px #d3d3d3; }
.cv-top-nav .cv-top-menu li:nth-child(3) { border-right: solid 1px #d3d3d3; }
.cv-top-nav .cv-top-menu li > a {background: none;color:#666666; font-size: 0.857em;} 
.cv-top-nav .cv-top-menu li > a > i {color:#707070;transition: all .05s ease-in-out;}

/* top menu end */

/* main menu */
.cv-main-menu{margin-bottom: 0px;}
.cv-main-menu .cv-navbar-nav > li{padding-top:10px; padding-bottom: 10px;}
.cv-main-menu .cv-navbar-nav > li > a {padding-top: 17px;padding-bottom:15px;font-weight: 600; font-size: 1em;color:#666666;border-bottom:solid 2px transparent; text-transform: uppercase;outline: none;border:0;}
.cv-main-menu .cv-navbar-brand{padding: 27px 15px;}
.cv-main-menu .cv-navbar-nav > .active > a {color: #5ea3ff !important;background: none !important; border-bottom:solid 2px #5ea3ff;}
.cv-main-menu .cv-navbar-nav  a:hover {color: #5ea3ff !important;background: none !important; border-bottom:solid 2px #5ea3ff; }
/* main menu end */

/* content area */
.cv-content-area{}

/* search box ends*/
.cv-content-area .mainSlider{}
.cv-content-area #mainSlider .mainSlider-caption{background: url(../img/caption_bg.png);width: 600px;height: 220px;position: absolute;top:132px;padding:25px;}
.cv-content-area #mainSlider .mainSlider-caption h2{font-size: 2em;color:#fff;margin: 0;}
.cv-content-area #mainSlider .mainSlider-caption p.p1{font-size: 1.429em;color:#fff; font-weight: 600;}
.cv-content-area #mainSlider .mainSlider-caption p.p2{font-size: 1em;color:#fff; font-weight: 600;margin-top:5px;}
.cv-content-area #mainSlider .mainSlider-caption p.p2 span{font-size: 1.714em; }
.cv-content-area #mainSlider .mainSlider-caption .cv-input-group{margin-top:13px; }
.cv-content-area #mainSlider .mainSlider-caption .cv-input-group input{line-height: 50px; height:50px;border-radius: 0;}
.cv-content-area #mainSlider .mainSlider-caption .cv-input-group button{padding: 0;border:none;z-index: 9;}
.cv-content-area #mainSlider .mainSlider-caption .cv-input-group button img{height: 50px;outline: none;}
/* search box ends*/

/*book online venues for*/
.book-online-venue-for{margin-top: 37px;}
.book-online-venue-for .heading{color:#333;text-transform:uppercase; font-size: 1.429em;font-weight: 600;padding-bottom:15px;border-bottom: solid 3px #efefef; }
.book-online-venue-for .cv-thumbnail{border:none;margin-top: 23px;}
.book-online-venue-for .cv-thumbnail > .thumb-heading{color:#666666;margin-top:0px;font-size:1.286em;font-weight:600;border-bottom: solid 1px #ccc;margin-bottom: 17px;}
.book-online-venue-for .cv-thumbnail > .thumb-heading .sky-blue-line{border-bottom: solid 4px #5ea3ff;margin-top: 10px;width:63px;margin-bottom: -4px;}
.book-online-venue-for .cv-thumbnail > img{border: 5px solid rgb(255, 255, 255);box-shadow: 0px 0px 5px rgb(204, 204, 204);-webkit-box-shadow: 0px 0px 5px rgb(204, 204, 204);-moz-box-shadow: 0px 0px 5px rgb(204, 204, 204);-ms-box-shadow: 0px 0px 5px rgb(204, 204, 204);transition: all .15s ease-in-out;}
.book-online-venue-for .cv-thumbnail:hover > img{transform: scale(1.1);}
.book-online-venue-for .cv-thumbnail > .caption{padding: 15px 0px;}
.book-online-venue-for .cv-thumbnail > .caption p.des{margin-bottom:15px;}

/*book online venues for ends*/


/* featured venues */
.featured-venues{background:url(../img/featured_venues_bg.jpg) center;height: 304px; display: block; }
.featured-venues .cv-featured-thumbnails{background: none;border:none;margin-top: 56px;}
.featured-venues .cv-featured-thumbnails img.fv{border: 5px solid rgb(255, 255, 255);box-shadow: 0px 0px 5px rgb(204, 204, 204);-webkit-box-shadow: 0px 0px 5px rgb(204, 204, 204);-moz-box-shadow: 0px 0px 5px rgb(204, 204, 204);-ms-box-shadow: 0px 0px 5px rgb(204, 204, 204);transition: all .15s ease-in-out;}
.featured-venues .cv-featured-thumbnails:hover img.fv{transform: scale(1.1);}
.featured-venues .cv-featured-thumbnails .caption{padding: 0;}
.featured-venues .cv-featured-thumbnails .caption h3{margin-top: 13px;color:#fff;font-weight: 600;font-size: 1.286em;line-height: 18px;margin-bottom: 5px;}
.featured-venues .cv-featured-thumbnails .caption .des, .rating-container{margin-left: 24px;margin-bottom: 5px;}
.featured-venues .featured-small{font-weight: 600; font-size: 1.929em;line-height: 27px; color:#fff;margin-top: 56px;text-shadow: 1px 1px 2px #989898;}
.featured-venues .venues-big{font-weight: 600;font-size:3.429em;line-height:48px;color:#fff;text-shadow: 1px 1px 2px #989898;}
.cv-carousel-caption {right: 0;left: 0; padding-bottom: 30px;top: 0;text-align: left;    text-shadow: none;}
.cv-carousel-indicators {    bottom: 20px;    width: 50px;    left: -30px;    text-align: left; height: 50px;}

/* featured venues */



/*hot deals*/
.hot-deals{padding-top:45px;padding-bottom: 45px;display: block; }
.hot-deals .inner-hd{position: relative;} 
.hot-deals .inner-hd .sec-1{float: left;width: 21%;z-index: 999;}
.hot-deals .inner-hd .sec-2{float: left;width: 79%;box-shadow: 0px 0px 5px rgb(204, 204, 204);-webkit-box-shadow: 0px 0px 5px rgb(204, 204, 204);-moz-box-shadow: 0px 0px 5px rgb(204, 204, 204);-ms-box-shadow: 0px 0px 5px rgb(204, 204, 204);margin-left: -20px;height: 335px;padding-left: 20px;
}
.hot-deals .inner-hd .sec-2 .cv-hot-deals-thumbnails{background: none;border:none;margin-top: 30px;}
.hot-deals .inner-hd .sec-2 .cv-hot-deals-thumbnails  img.fv{border: 5px solid rgb(255, 255, 255);box-shadow: 0px 0px 5px rgb(204, 204, 204);-webkit-box-shadow: 0px 0px 5px rgb(204, 204, 204);-moz-box-shadow: 0px 0px 5px rgb(204, 204, 204);-ms-box-shadow: 0px 0px 5px rgb(204, 204, 204);transition: all .15s ease-in-out;}
.hot-deals .inner-hd .sec-2 .cv-hot-deals-thumbnails:hover  img.fv{transform: scale(1.1);}
.hot-deals .inner-hd .sec-2 .cv-hot-deals-thumbnails .caption{padding: 0;}
.hot-deals .inner-hd .sec-2 .cv-hot-deals-thumbnails .caption h3{margin-top: 13px;color:#333333;font-weight: 600;font-size: 1.286em;line-height: 18px;margin-bottom: 5px;}
.hot-deals .inner-hd .sec-2 .cv-hot-deals-thumbnails .caption span{color:#999999;}
.hot-deals .inner-hd .sec-2 .cv-hot-deals-thumbnails .caption .des, .rating-container{margin-left: 24px;margin-bottom: 5px;color:#666;}
.hot-deals .inner-hd .sec-2 .cv-hot-deals-thumbnails .caption .short-details { margin-left: 24px;margin-bottom: 2px;color: #388cfb;}
.hot-deals .inner-hd .sec-2 .cv-hot-deals-thumbnails .caption .short-details span {    color: #333;}


/*hot deals ends*/


/* footer */
footer {background:#575d63 url(../img/footer_building.png) repeat-x bottom ;}
footer .cv-footer{height: 466px;}
footer .cv-footer h3{font-size: 1.429em; color:#fff;}
footer .cv-footer .sec{color:#999999;margin-top: 17px;}
footer .cv-footer .sec a{color:#999999;}
footer .cv-footer .sec a:hover{color:#fff;text-decoration:none;}
footer .cv-footer .sec form label{font-style: italic;font-weight: normal;}
footer .cv-footer .sec form input{border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 0;-ms-border-radius: 0;}
footer .cv-footer .sec form button{border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 0;-ms-border-radius: 0; background-color:#5ea3ff; color:#fff;width:125px;height:42px; border:0;font-size:1.286em;font-weight: 600;text-transform: uppercase;}
footer .cv-copy-right{background:#aeb5bc; padding: 5px 0;}
footer .cv-copy-right {color:#999999;font-size: 0.786em;color:#fff;}
footer .cv-copy-right ul{margin-bottom: 0px;}
footer .cv-copy-right a{color:#999999;color:#fff;}


/* content area end*/

/* rating control */
.rating {color: #e7e7e7;margin: 0;padding: 0;}
ul.rating {display: inline-block;}
.rating li {list-style-type: none;display: inline-block;padding: 1px;text-align: center;font-weight: bold;cursor: pointer;}
.rating .filled {color: #fdc61e;}
.star{font-size:20px;}


/* About css*/
img { max-width: 100%;}
.about_baner { background: url(../img/about_bnr.jpg) no-repeat 0 0; text-align: center; padding: 150px 0;}
.about_bnr_txt { color: #fff; border: 7px double #fff; text-transform: uppercase; background-color: rgba(255,255,255,0.2); padding: 10px 50px; font-size: 48px; cursor: default;}
.about_bnr_txt:hover { color: #fff; text-decoration: none;}
.about_content { padding: 45px 0;}
.featured-venue-img, .hot-deals-img, .timings { margin-bottom: 30px;}
.social-icns{margin-bottom: 45px;}
.timings.ng-scope, .social-icns { border: 1px solid #ccc;}
.local-time, .folow { background: #5ea3ff url(../img/timing.png) no-repeat 10px 10px; padding: 15px 0 15px 50px; color: #fff; margin: 0; text-transform: uppercase;;}
.folow { background-image: none; padding: 15px;}
.curent-time { text-align: center; padding: 30px 0; font-size: 25px; font-weight: 600; margin-bottom: 0;}
ul.ab_social_icons { padding: 20px; text-align: center; margin: 0;}
.ab_social_icons li { display:  inline-block; padding-right: 10px;}
.ab_social_icons li:last-child { padding-right: 0;}
.rss, .fb, .yt, .lin { color: #fff; background-color: #f8bc2e; width: 30px; border-radius: 50%; height: 30px; text-align: center; box-sizing: border-box; padding: 4px 0;}
.fb { background-color: #39599f;}
.yt { background-color: #e71a31;}
.lin { background-color: #007ab9;}
ul.web-benefits, .service-promis { padding: 0;}
.web-benefits li { background-color: #f4f6f9; display: block; padding: 14px 20px; margin-bottom: 10px; border-left: 3px solid #41a0ff;}
.orange { border-color: #ff9966 !important;}
.green { border-color: #70cf70 !important;}
.violet { border-color: #9966cc !important;}
.turquoise { border-color: #41cfcf !important;}
.service-promis li { display: block; font-style: italic; background: url(../img/left-hand.png) no-repeat 0 14px; padding: 14px 0 0 45px; font-size: 16px;}

/* about css ends */

/*==================================================================
Listing Page
==================================================================*/
.place { font-size: 24px; color: #000;}
.result_red, .place { font-weight: 600;}
.result_red, .filter-result { color: #cc0000; font-size: 14px;}
.filter-result { color: #000;}
.dotborder { background-image: url(../img/dot-4.gif); height: 13px; margin: 20px 0;}
.dotborderheight { height: 4px;}
.dotborderwhite { background-image: url(../img/white-border.png); height: 1px; margin: 20px 0 12px;}
.hotel_list-img { float: left; padding-right: 25px;}
.hotl-name { margin-bottom: 0; font-weight: 600; color: #5ea3ff;}
.hotl-adrs, .hotl-name { font-size: 16px;}
.hotl-adrs { font-weight: 300; color: #333;}
p.nerst_airpot, .nerst-rail { font-weight: 400; color: #666; margin-bottom: 8px !important;}
.n-air { padding-right: 4px; color: #999;}
.stars { color: #f6d000; padding-right: 3px;}

.hotl-brief-intro { padding: 0 !important;}
.hotl-brief-intro li { display: inline-block; padding-right: 42px; vertical-align: top;}
.hotl-brief-intro li:last-child { padding-right: 0;}
.icons { background: url(../img/icons.png) 0 0 no-repeat; text-decoration: none !important; display: inline-block;}
.icons.couch-icon { height: 10px; width: 20px; background-position: -25px -16px;}
.icons.meet-room { width: 24px; height: 22px; background-position: 0 0;}
.icons.total-room { width: 21px; height: 15px; background-position: -24px 0px;}
.meet-rooms { display: inline-block; vertical-align: top;}
.rqust-quot a { background-color: #666; color: #fff; padding: 7px 12px;}
.rqust-quot a:hover { background-color: #fff; border: 2px solid #666; padding: 5px 10px; color: #666; text-decoration: none;}

/*=============================
Search Option
=============================*/
.searchoptions { background-color: #5ea3ff; padding: 20px; color: #fff; font-weight: 600; margin-bottom: 30px;}
.searchoptions .sopton { font-size: 18px;}
.searchoptions select.cat_venues { width: 100%; height: 32px;}
.star-catgry { text-transform: uppercase;}
.hotel-txt { padding-left: 14px; vertical-align: top;}

.multi-category { margin: 6px 0;margin: 6px 0;list-style: none;padding: 0;}

input.category-sbmt { width: 100%; background-color: #ffcc00; border: 3px solid #fff; text-transform: uppercase; padding: 5px 0;}
input.category-sbmt:hover { color: #fff; background-color: #666; border-color: #fff;}

.listing-contact { border: 2px solid #ccc; float: left; width: 100%; padding: 11px 0 0; margin-bottom: 30px; background: url(../img/contactus.png) no-repeat center right;}
.listing-contact .contact-left { padding: 2px 0 16px 16px; }
.listing-contact .contact-left p, .listing-contact .contact-left a { text-transform: uppercase;}
.listing-contact .contact-left p.notable { font-size: 12px; color: #666; margin-bottom: 3px;}
.listing-contact .contact-left p.callusat { font-size: 14px; font-weight: 600; color: #999; margin-bottom: -6px;}
.listing-contact .contact-left p.phoneno { color: #333; font-size: 19px; font-weight: 600; margin-bottom: 5px;}
.emailusnow a { background-color: #5ea3fe; color: #fff; font-size: 12px; font-weight: 600; padding: 5px 10px;}
.emailusnow a:hover { color: #5ea3fe; border: 2px solid #5ea3fe; background-color: #fff; padding: 3px 8px; text-decoration: none;}




/* venue-detail  */
.venue-detail{ }
.cv-venue-detail{margin-top: 45px;margin-bottom: 45px;overflow-x:hidden;}
.cv-venue-detail address{line-height: 25px;}
.cv-venue-detail address .add-line-1{font-size: 1.714em; color:#000;font-weight: 600;}
.cv-venue-detail address .add-line-2{color:#000;font-weight: 600;}
.cv-venue-detail address .add-line-3{color:#666666;font-weight: 600;}
.cv-venue-detail #venueMainSlider{padding-bottom: 18px;}
.cv-venue-detail  ol.cv-venue-main-slider-indicators{margin-left: 0;position: relative;bottom: -5px;width: 117%;}
.cv-venue-detail  ol.cv-venue-main-slider-indicators > li {width:150px;border: medium none;background: none;height: 0px;}
.cv-venue-detail .cv-side-nav {top:auto;width:3.5%;opacity:0.5;height: 52px; color:#333; background-image:none;border: 1px solid rgb(204, 204, 204);margin-bottom: 5px; }
.cv-venue-detail .cv-side-nav span{margin-left: -12px;margin-top: -15px;}
.cv-venue-detail .cv-carousel-inner{border: 1px solid rgb(204, 204, 204);padding: 5px;}
.cv-venue-detail .contact-info span{color:#666666; font-weight: 600;}
.cv-venue-detail #googleMap{border: 1px solid rgb(204, 204, 204);height: 150px;}
.cv-venue-detail .important-contacts {color:#666666;line-height: 20px;}
.cv-venue-detail .important-contacts span{color:#333; font-weight: 600;}
.cv-venue-detail .important-contacts .tbl{margin-bottom: 35px;}
.cv-venue-detail .important-contacts .tbl tr td:nth-child(1){padding-right: 10px;}
.cv-venue-detail .description p{color:#666666;margin-bottom: 22px;}
.cv-venue-detail .description p span{color:#333; font-weight: 600;}
.cv-venue-detail .other-information {color:#666666;}
.cv-venue-detail .other-information span{color:#333; font-weight: 600;}
.cv-venue-detail .other-information .col-md-6{margin-bottom: 20px;}
.cv-venue-detail .right-side-sec{background:#5ea3ff;padding: 20px;color:#fff;margin-bottom: 30px; }
.cv-venue-detail .right-side-sec h4{font-weight:600; }
.cv-venue-detail .right-side-sec .sep {font-weight: 600;border-bottom: dotted 1px #fff;padding-bottom: 15px;margin-bottom: 15px;}
.cv-venue-detail .right-side-sec .ro{font-size: 12px;font-weight:600;margin-bottom: 15px;}
.cv-venue-detail .right-side-sec .cv-btn{border: solid 5px #fff;border-radius: 0;background: #ffcc01;width: 100%;font-weight: bold;line-height: 15px;font-size: 15px;text-transform: uppercase;outline: none;color:#fff;}
.cv-venue-detail .right-side-sec .cv-btn:hover{border: solid 5px #ffcc01;background: #fff;color:#333;}
.cv-venue-detail .side-ad{border:solid 1px #ccc;padding: 1px; display: block;}
.cv-venue-detail .side-ad img{width:100%}



/* venue-detail end  */

/*------------- angular material tab ----------------*/
md-tabs[md-border-bottom] md-tabs-wrapper { border-width: 0 0 2px;border-style: solid;}
md-tabs md-tabs-wrapper {background-color: transparent;border-bottom:solid #5ea3ff;}
md-tabs .md-tab.md-active{color: #fff;background: #5ea3ff;}
md-tabs md-ink-bar{display: none;}
md-tabs-canvas{ height:30px;}
md-pagination-wrapper {height: 30px;}
.md-tab{padding: 3px 24px;}
.md-padding {padding: 16px 0px;}
