<!-- ********************************** About Us ********************************************** -->
<section class="ab_bnr">
	<div class="about_baner">
		<a href="javascript:void(0)" class="about_bnr_txt">About us</a>
	</div>
	<div class="container">
		<div class="row about_content">
			<div class="col-md-9">
				<section ng-include="'about_txt.html'"></section>
			</div>
			<div class="col-md-3">
				<section ng-include="'about_rightside.html'"></section>
			</div>
		</div>
	</div>
</section>