<!-- ********************************** About left txt ********************************************** -->
<div class="teamof">
	<p>We are a team of experienced professionals in the trade for more than two decades serving the corporate and other individually known clients for booking venues for events like Conferences, Meetings and Weddings both domestic and international.</p>
	<p>The team decided to enhance its services to clients by providing online access through which venue details across India can be sorted and positioned with inputs for various categories of rooms, conference halls and its facilities, local attractions if any and based on clients' requirements the venue can be suitably identified or can be referred to us.</p>
	<p><strong>This website has been launched to provide the following benefits to clients:</strong></p>
	<ul class="web-benefits">
		<li class="blue">Simple &amp; easy to use and know your venue and place where it's located better before taking final decision.</li>
		<li class="orange">Details of venues include general information like contact details, room and hall details, local attractions and any other activities etc.</li>
		<li class="green">You can 'Request Quote' for the venue which suits your requirement the best.</li>
		<li class="violet">Saves time, cost and also all communication is written and documented.</li>
		<li class="turquoise">Details of each hotel/venue have been sourced from the hotel/venue itself.</li>
	</ul>
	<ul class="service-promis">
		<li>We promise you to provide services at our best and you'll always think of CONFERENCE VENUE as and when you decide to book venue for an upcoming event!!!</li>
	</ul>
</div>