<!-- ********************************** About Us ********************************************** -->
<div class="featured-venue-img">
	<img src="img/featured-venue.jpg">
</div>
<div class="hot-deals-img">
	<img src="img/hot-deals.jpg">
</div>
<section ng-include="'localtime.html'"></section>