
<!-- ********************************** Book online venue for ********************************************** -->
<div class="container">
	<div class="book-online-venue-for">
		<h2 class="heading">
			Book Online Venues for
		</h2>
		<div class="row">
			<div class="col-sm-6 col-md-3" ng-repeat="v in bookOnlineVenueForData">
				<div class="thumbnail cv-thumbnail">
					<h3 class="thumb-heading"><img src="img/{{v.imgName}}"> {{v.title}}
						<div class="sky-blue-line"></div>
					</h3>
					<img src="img/{{v.venueImg}}" alt="thumbnail">
					<div class="caption">
						<p class="des">{{v.description}}</p>
						<p><a href="#" class="btn btn-default gradiant-1" role="button">More Info</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 

