<section class="cv-venue-detail" ng-controller="ctrDetailPage">
	<div class="container">
		<div class="row">
			<!-- Detail page content -->
			<section class="col-md-9">
				<address>
					<span class="add-line-1">{{venueDetailPageData.place}}</span><br>
					<span class="add-line-2">{{venueDetailPageData.approved}}</span><br>
					<span class="add-line-3"><span class="glyphicon glyphicon-map-marker"></span> {{venueDetailPageData.address}}</span><br>
					<span ng-controller="ctrRating"> 
						<span ng-repeat="rating in ratings">
							<star-rating rating-value="4" max="rating.max"></star-rating>
						</span>
					</span>
				</address>

				<!-- Detail page tabs -->
				<div ng-cloak>
					<md-content>
					<md-tabs md-dynamic-height md-border-bottom>
					<span ng-repeat="tab in tabs">
						<md-tab label="{{tab.title}}">
							<md-content class="md-padding">
								<div ng-include="tab.content"></div>
							</md-content>
						</md-tab>
					</span> 
				</md-tabs>
		</md-content>
	</div> 
	<!-- Detail page tabs end-->    
</section>
<!-- Detail page content end-->

<!-- Left side bar -->
<aside class="col-md-3">
	<div class="right-side-sec">
		<h4>Key Highlights</h4>
		<p class="sep">VENUE CATEGORY -  RESORTS</p>

		<div class="row ro">
			<div class="col-md-6">Chain ( If Any)</div>
			<div class="col-md-6">Intercontinental Hotel Group (IHG)</div>
		</div>
		<div class="row ro">
			<div class="col-md-6">Star Category</div>
			<div class="col-md-6">
				<div ng-controller="ctrRating"> 
					<span ng-repeat="rating in ratings">
						<div star-rating rating-value="rating.current" max="rating.max"></div>
					</span>
				</div>
			</div>
		</div>
		<div class="row ro">
			<div class="col-md-6">Year Built/Last Renovated</div>
			<div class="col-md-6">2011</div>
		</div>
		<div class="row ro">
			<div class="col-md-6">Room &amp; Suites</div>
			<div class="col-md-6">183</div>
		</div>
		<div class="row ro">
			<div class="col-md-6">Meeting Rooms</div>
			<div class="col-md-6">13</div>
		</div>
		<div class="row ro">
			<div class="col-md-6">Total Meeting Space</div>
			<div class="col-md-6">40429 Sq. Ft.</div>
		</div>
		<div class="sep" style="padding-bottom: 0;"></div>
		<button class="btn cv-btn">Request Quote</button>
	</div>
	<div ng-include="'listing_contact.html'"></div>
	<div ng-include="'localtime.html'"></div>
	<div ng-include="'social_links.html'"></div>
	<a class="side-ad" href="#"><img src="img/side-ad.jpg" alt="Ad"></a>
</aside>
<!-- Left side bar end-->
</div>  
</div>
</section>
