
<!-- ********************************** feature venue for ********************************************** -->
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="featured-small">Featured</div> 
			<div class="venues-big">Venues</div>                
		</div>
		<div class="col-md-9">
			<div id="featuredVenueSlider" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators cv-carousel-indicators">
					<li data-target="#featuredVenueSlider" data-slide-to="{{$index}}" ng-class="{active:$index == 0}" ng-repeat="indcators in featuredVenuesData"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item" ng-class="{active:$index == 0}" ng-repeat="featured in featuredVenuesData">
						<div class="cv-carousel-caption ">
							<div class="row">
								<div class="col-md-12">
									<div class="col-sm-6 col-md-4" ng-repeat="venue in featured.venues">
										<div  class="thumbnail cv-featured-thumbnails">
											<img class="fv" src="img/{{venue.venueImg}}" alt="thumbnail 2">
											<div class="caption">
												<h3><span class="glyphicon glyphicon-map-marker"></span> {{venue.title}}</h3>
												<p class="des">{{ venue.description}}</p>
												<div class="rating-container">
													<div ng-controller="ctrRating"> 
														<span ng-repeat="rating in ratings">
															<star-rating rating-value="venue.Rating" max="rating.max" ></star-rating>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 

