
<!-- ********************************** content area started ********************************************** -->
<section class="cv-content-area" ng-controller="ctrHome">

	<div id="mainSlider" class="carousel slide" data-ride="carousel">
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="img/slide-1.jpg" alt="slide 1">
				<div class="carousel-caption">
				</div>
			</div>
			<div class="item">
				<img src="img/slide-1.jpg" alt="slide 2">
				<div class="carousel-caption">
				</div>
			</div>
		</div>
		<div class="container">   
			<div class="mainSlider-caption">
				<h2>Book Your Dream Venue Online</h2>
				<p class="p1">for your business, parties, marriages and many more....</p>
				<div class="input-group cv-input-group">
					<input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-default hvr-pop" type="button">
							<img src="img/search_btn.jpg" alt="Search Button">
						</button>
					</span>
				</div>
				<p class="p2">Not able to find suitable Venue? <span>Call us at 011-4834085</span></p>
			</div>
		</div>
	</div>

	<!-- Book Online Venue -->
	<book-online-venue-for></book-online-venue-for>

	<!-- Featured Venues -->
	<featured-venues class="featured-venues"></featured-venues>

	<!-- Hot Deals -->
	<hot-deals class="hot-deals"></hot-deals>

</section> 
