
<!-- ********************************** hot deals ********************************************** -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="inner-hd">
				<div class="sec-1">
					<img src="img/hot_deal.png" alt="hot deal">               
				</div>
				<div class="sec-2">
					<div class="row">
						<div class="col-md-12">
							<div class="col-sm-6 col-md-4" ng-repeat="hotDealVenue in hotDealData">
								<div  class="thumbnail cv-hot-deals-thumbnails">
									<img class="fv" src="img/{{hotDealVenue.venueImg}}" alt="thumbnail 2">
									<div class="caption">
										<h3><span class="glyphicon glyphicon-map-marker"></span> {{hotDealVenue.title}}</h3>
										<p class="des">{{hotDealVenue.description}}</p>
										<p class="short-details">Venue Category: <span>{{hotDealVenue.venueCategory}}</span></p>
										<p class="short-details">Room & Suites: <span>{{hotDealVenue.roomAndSuites}}</span></p>
										<p class="short-details">Total Meeting Space: <span>{{hotDealVenue.totalMeetingSpace}}</span></p>
										<div class="rating-container">
											<div ng-controller="ctrRating"> 
												<span ng-repeat="rating in ratings">
													<star-rating rating-value="hotDealVenue.rating" max="rating.max" ></star-rating>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>

