<div>
	<div class="hotel_list-img">
		<img src="img/{{hotel.imgUrl}}">
	</div>
	<div class="hotel_list-content">
		<p class="hotl-name">{{hotel.name}}</p>
		<p class="hotl-adrs">{{hotel.place}}</p>
		<p class="nerst_airpot"><i class="fa fa-plane n-air"></i> {{hotel.nearestAirport.name}} - {{hotel.nearestAirport.distance}}</p>
		<p class="nerst-rail"><i class="fa fa-train n-air"></i> {{hotel.nearestRailwayStation.name}} - {{hotel.nearestRailwayStation.distance}}</p>
		<p class="ratngs" ng-controller="ctrRating">Rating 
			<span ng-repeat="rating in ratings">
				<star-rating rating-value="hotel.rating" max="rating.max" ></star-rating>
			</span>
		</p>
		<div class="dotborder dotborderheight"></div>
		<ul class="hotl-brief-intro">
			<li>
				<span class="icons couch-icon"></span>
				<div class="meet-rooms">
					<p>Meeting Rooms - {{hotel.meetingRooms}}</p>
				</div>
			</li>
			<li>
				<span class="icons meet-room"></span>
				<div class="meet-rooms">
					<p>Total Meeting Space - {{hotel.totalMeetingSpace}}</p>
				</div>
			</li>
			<li>
				<span class="icons total-room"></span>
				<div class="meet-rooms">
					<p>Total Rooms &amp; Suites - {{hotel.totalRoomAndSuits}} </p>
				</div>
			</li>
			<li>
				<div class="rqust-quot">
					<a href="javascript:void(0)">Request A Quote</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="dotborder"></div>
	<div class="clearfix"></div>
</div>