<!doctype html>
<html class="no-js" lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/hover.css">

<!-- Angular Material style sheet -->
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/style.css">
<script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="cv">
<!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
	<!-- master page -->
	<header> 
		<!-- top nav -->
		<nav class="cv-top-nav">
			<div class="container">
				<!-- social icons -->
				<ul class="nav nav-pills pull-left cv-social-icons">
					<li><a class="hvr-pop" href="#"><i class="fa fa-rss"></i></a></li>
					<li><a class="hvr-pop" href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a class="hvr-pop" href="#"><i class="fa fa-youtube"></i></a></li>
					<li><a class="hvr-pop" href="#"><i class="fa fa-linkedin"></i></a></li>
				</ul>
				<!-- social icons end-->

				<!-- top menu icons -->
				<ul class="nav nav-pills pull-right cv-top-menu">
					<li><a href="#"><i class="fa fa-phone"></i> Call us: 011 - 41834085</a></li>
					<li><a href="#"><i class="fa fa-user"></i> Login</a></li>
					<li><a href="#"><i class="fa fa-pencil"></i> Register</a></li>
				</ul>
				<!-- top menu end-->
			</div>
		</nav>
		<!-- top nav ends -->

		<!-- main nav -->
		<nav class="navbar cv-main-menu" role="navigation">
			<div class="container"> 
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" 
					data-toggle="collapse" data-target="#example-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand cv-navbar-brand" href="#/"><img src="img/logo.png"></a>
			</div>

			<div class="collapse navbar-collapse " id="example-navbar-collapse">
				<ul class="nav navbar-nav pull-right cv-navbar-nav" ng-controller="ctrMainMenu">
					<li ng-repeat="menu in menus" ng-click="select($index)"  ng-class="{active:$index == selected}">
						<a href="{{menu.menuItemUrl}}">{{menu.menuItem}}</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- main nav ends -->
</header>
<!-- header ends here -->

<!-- content area -->
<div ng-view></div>
<!-- content area -->

<!-- Footer -->
<footer>
	<div class="container">
		<div class="cv-footer">
			<div class="row">
				<div class="col-md-3 sec">
					<h3>Contact Us</h3>
					<address>
						G-36, DDA Commercial Complex (Triveni), Sheikh Sarai Phase-1,
						New Delhi - 110017 (India)
						.....................................................<br>
						Ph. 011-41834085
						Fax: 011-000 000 0000
						Email: <a href="mailto:support@conferencevenue.in">Support@conferencevenue.in</a>
					</address>
				</div>
				<div class="col-md-3 sec">
					<h3>Quick Links</h3> 
					<ul class="list-unstyled">
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Finding the right venue</a></li>
						<li><a href="#">Recruitment</a></li>
						<li><a href="#">FAQs</a></li>
						<li><a href="#">Feedback</a></li>
					</ul>
				</div>
				<div class="col-md-3 sec">
					<h3>Stay Connected</h3> 
					<ul class="list-unstyled">
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Youtube</a></li>
						<li><a href="#">Linkedin</a></li>
						<li><a href="#">Rss</a></li>
					</ul>
				</div>
				<div class="col-md-3 sec">
					<h3>Subscribe Our Newsletter</h3> 
					<p>Don’t miss our latest offer at venues</p>
					<form>
						<div class="form-group">
							<label for="exampleInputEmail1">Eneter your email ID:</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="cv-copy-right">
		<div class="container">
			<ul class="list-inline pull-left">
				<li>Copyright 2013 <a href="#">conferencevenue.in</a>, All Rights Reserved</li>
				<li>|</li>
				<li><a href="#">Disclaimer</a></li>
				<li><a href="#">|</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
			<ul class="list-inline pull-right">
				<li>Powered by</li>
				<li><a href="http://detecvision.com">www.detecvision.com</a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- Footer ends-->
<!-- master page ends -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular.route.js"></script>

<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script> 
<script src="js/modules.js"></script>
<script src="js/config.js"></script>
<script src="js/services.js"></script>
<script src="js/directive.js"></script>
<script src="js/controllers.js"></script>
<script src="js/main.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script type="text/javascript">
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='https://www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
</body>
</html>