
<!-- ********************************** Listing Page ********************************************** -->
<div class="container" ng-controller="ctrListing">
	<div class="row about_content">
		<div class="col-md-9">
			<p class="place">{{listingData.place}}</p>
			<p class="result_red">{{listingData.resultFound}} Result(s) found</p>
			<p class="filter-result">•  Use the options at right to filter your search results.</p>
			<div class="dotborder"></div>
			<div class="hotels_list" ng-repeat="hotel in listingData.hotels">
				<hotel></hotel> 
			</div>
		</div>
		<div class="col-md-3">
			<div ng-include="'listing_rightside.html'"></div>
		</div>
	</div>
</div>