<div class="searchoptions">
	<p class="sopton">Search Options</p>
	<p class="venue_cat">Venue Category</p>
	<form method="post" action="">
		<div class="select_venues">
			<select class="form-control" id="sel1">
				<option>Please Select</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
		</div>
		<div class="dotborder dotborderwhite"></div>
		<p class="star-catgry">Star Category</p>
		<ul class="multi-category">
			<li><input type="checkbox" name="vehicle" value="5 Star Deluxe"><span class="hotel-txt">5 Star Deluxe </span></li>
			<li><input type="checkbox" name="vehicle" value="5 Star"><span class="hotel-txt">5 Star </span></li>
			<li><input type="checkbox" name="vehicle" value="4 Star"><span class="hotel-txt">4 Star </span></li>
			<li><input type="checkbox" name="vehicle" value="3 Star"><span class="hotel-txt">3 Star </span></li>
			<li><input type="checkbox" name="vehicle" value="2 Star"><span class="hotel-txt">2 Star </span></li>
			<li><input type="checkbox" name="vehicle" value="1 Star"><span class="hotel-txt">1 Star </span></li>
			<li><input type="checkbox" name="vehicle" value="Applied for Classification"><span class="hotel-txt">Applied for Classification</span></li>
			<li><input type="checkbox" name="vehicle" value="Uncategorized"><span class="hotel-txt">Uncategorized</span></li>
		</ul>

		<div class="dotborder dotborderwhite"></div>

		<p class="venue_cat">Chain Property</p>

		<div class="select_venues">
			<select class="form-control" id="sel2">
				<option>Please Select</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
		</div>
		<div class="dotborder dotborderwhite"></div>
		<p class="venue_cat">Rooms Required</p>
		<div class="select_venues">
			<select class="form-control" id="sel2">
				<option>Please Select</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
		</div>
		<div class="dotborder dotborderwhite"></div>
		<p class="venue_cat">Ceiling Height (in Ft.)</p>
		<div class="select_venues">
			<select class="form-control" id="sel2">
				<option>Please Select</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
		</div>
		<div class="dotborder dotborderwhite"></div>
		<input type="submit" name="category_sbmt" value="Submit" class="category-sbmt"></input>
	</form>
	<div class="clearfix"></div>
</div>

<div ng-include="'listing_contact.html'"></div>

<div ng-include="'localtime.html'"></div>

<div ng-include="'social_links.html'"></div>