<div class="venne-detail" style="overflow-x:hidden; ">
	<div id="venueMainSlider" class="carousel slide" data-ride="carousel">
		<!-- Wrapper for slides -->
		<div class="cv-carousel-inner">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="img/slide-1.jpg" alt="slide 1">
					<div class="carousel-caption">
					</div>
				</div>
				<div class="item">
					<img src="img/slide-1.jpg" alt="slide 2">
					<div class="carousel-caption">
					</div>
				</div>
				<div class="item">
					<img src="img/slide-1.jpg" alt="slide 3">
					<div class="carousel-caption">
					</div>
				</div>
				<div class="item">
					<img src="img/slide-1.jpg" alt="slide 4">
					<div class="carousel-caption">
					</div>
				</div>
				<div class="item">
					<img src="img/slide-1.jpg" alt="slide 5">
					<div class="carousel-caption">
					</div>
				</div>
			</div>
		</div>

		<!-- Indicators -->
		<ol class="carousel-indicators cv-venue-main-slider-indicators">
			<li data-target="#venueMainSlider" data-slide-to="1" class="active"> <img src="img/slide-1.jpg" alt="slide 1"></li>
			<li data-target="#venueMainSlider" data-slide-to="2"> <img src="img/slide-1.jpg" alt="slide 2"></li>
			<li data-target="#venueMainSlider" data-slide-to="3"> <img src="img/slide-1.jpg" alt="slide 3"></li>
			<li data-target="#venueMainSlider" data-slide-to="4"> <img src="img/slide-1.jpg" alt="slide 4"></li>
			<li data-target="#venueMainSlider" data-slide-to="5"> <img src="img/slide-1.jpg" alt="slide 5"></li>
		</ol>
		<!-- Left and right controls -->
		<a class="left carousel-control cv-side-nav" href="javascript:void(0)" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control cv-side-nav" href="javascript:void(0)"  role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="margin-right:-12px;"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<!-- content info -->
	<h3 class="cv-heading">
		<span>Contact Info</span>
	</h3>
	<address class="contact-info">
		<div class="row"> <div class="col-md-4">
			<span><i class="fa fa-phone"></i> Phone no: {{venueDetailPageData.generalInfo.contactInfo.phone}}</span><br>
			<span><i class="fa fa-envelope"></i> Email: {{venueDetailPageData.generalInfo.contactInfo.email}}</span><br>
			<span><i class="fa fa-file-text"></i> Fact Sheet: {{venueDetailPageData.generalInfo.contactInfo.factSheet}}</span>
		</div>
		<div class="col-md-4">
			<span><i class="fa fa-fax"></i> Fax: {{venueDetailPageData.generalInfo.contactInfo.fax}}</span><br>
			<span><i class="fa fa-globe"></i> Website: {{venueDetailPageData.generalInfo.contactInfo.website}}</span>
		</div>
	</address>

	<!-- map -->
	<h3 class="cv-heading">
		<span>Map</span>
	</h3>
	<div id="googleMap"></div>


	<!-- important contact -->
	<h3 class="cv-heading">
		<span>Important Contacts</span>
	</h3>
	<address class="important-contacts">
		<div class="row">
			<div class="col-md-3">
				<span>Police Station(s)</span>
			</div>
			<div class="col-md-9">
				Rithala Police Station
				<table class="tbl" cellpadding="0" cellspacing="0" border="0" >
					<tr>
						<td valign="top"><span>Address:</span></td>
						<td valign="top">Rithala, Sector-5, Rohini<br>New Delhi-110085</td>
					</tr>
					<tr>
						<td valign="top"><span>Phone No:</span></td>
						<td valign="top">011-27058384</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<span>Hospital(s)</span>
			</div>
			<div class="col-md-9">
				Rajiv Gandhi Cancer Institute &  Research Centre
				<table class="tbl" cellpadding="0" cellspacing="0" border="0" >
					<tr>
						<td valign="top"><span>Address:</span></td>
						<td valign="top"> Sector-5, Rohini<br>New Delhi-110085</td>
					</tr>
					<tr>
						<td valign="top"><span>Phone No:</span></td>
						<td valign="top">011-27058378, 2222</td>
					</tr>
				</table>

				Jaipur Golden Hospital
				<table class="tbl" cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 0;" >
					<tr>
						<td valign="top"><span>Address:</span></td>
						<td valign="top">2, Institutional Area,<br>Sector-3, New Delhi - 110085</td>
					</tr>
					<tr>
						<td valign="top"><span>Phone No:</span></td>
						<td valign="top">011-27907000, 2222</td>
					</tr>
				</table>
			</div>
		</div>
	</address>

	<!-- Description -->
	<h3 class="cv-heading">
		<span>Description</span>
	</h3>
	<div class="description">
		<p>Crowne Plaza Rohini, offering the businests and leisure travellers a holistic approach to help you get the best night’s sleep, fine dining, Adya spa and more.</p>
		<p>The hotel has convention halls from the capacity of 14 pax to 1250 pax and has a largest banqueting are to take each and every type of event.</p>
		<p>Awarded with India’s Leading Conference Hotel and India’s Leading New Business Hotel by the World Travel Awards, this hotel is the best MICE destination in the city and a leading venue for the weddings.</p>
		<p><span>Ownership:</span> Jakson Developers</p>
		<p><span>Managed by:</span> Intercontinental Hotel Group (IHG)</p>
		<p><span>Location Advantage(s):</span> Crowne Plaza Rohini in Delhi ensures guests remain connected to the pulse of Delhi and is in close proximity to shopping complexes, local entertainment attractions, educational and health institutions and leisure destinations, making the hotel “The Place to Meet”.</p>
		<p><span>Member of:</span> FHRAI, HRANI</p>
		<p><span>Awards(If Any) :</span>Times Food Award- Best Noteworthy New Comer Restaurant in Delhi SPICEART (2011), WTA Award- Best Leading Conference Hotel in India & Best New Business Hotel (2012)</p>
		<p><span>Languages Spoken:</span> English, Hindi, Punjabi</p>
		<p><span>Activities At The Venue:</span> Cricket,Volleyball, Water Polo, Badminton</p>
		<p><span>Any Special Information Regarding Venue :</span><br> 208 CCTV Camera across the hotel permises, Complete Building is covered with Intelligent Fire Detection System, 3 Tier Security System handled 24x7</p>
	</div>

	<!-- other information -->
	<h3 class="cv-heading">
		<span>Other Information</span>
	</h3>

	<div class="other-information">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Outdoor space:</span></div>
					<div class="col-md-8">15000 Sq. Ft.</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Liquor Allowed Form Outside:</span></div>
					<div class="col-md-8">No</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Inside/Outside Parking Space:</span></div>
					<div class="col-md-8">Inside 200 Cars, Outside-400 Cars</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Types Of Credit Cards Accepted:</span></div>
					<div class="col-md-8">Amex, MasterCard, VISA</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Valet Parking:</span></div>
					<div class="col-md-8">Not Chargeable</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Car Rental:</span></div>
					<div class="col-md-8">In-House: No, Outsourced: Yes</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Restaurants And Their Location:</span></div>
					<div class="col-md-8">Mosaic-All Day Dining(Lobby Level), Spice Art-Indian Speciality(1st Floor)</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Laundry service:</span></div>
					<div class="col-md-8">In-House: Yes, Outsourced: No</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Cuisines:</span></div>
					<div class="col-md-8">Muliti Cuisine</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Wheelchair:</span></div>
					<div class="col-md-8">In-House: Yes, Outsourced: No</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Bars And Their Location:</span></div>
					<div class="col-md-8">Connexions (1st Floor)</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Elevator</span></div>
					<div class="col-md-8">In-House: Yes, Outsourced: No</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>License For Liquor</span></div>
					<div class="col-md-8">Yes</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Doctor on call</span></div>
					<div class="col-md-8">In-House: No, Outsourced: Yes</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Hotel Purchased Liquor Only:</span></div>
					<div class="col-md-8">Yes</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Babysitter</span></div>
					<div class="col-md-8">In-House: Yes, Outsourced: No</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4"><span>Nearest ATM:</span></div>
					<div class="col-md-8">Yes</div>
				</div>
			</div>
		</div>
	</div>
</div>